
Body {
	background-color: White
}
H1 {
	color: Black;
	font-family: Times New Roman;
	font-size: 24px;
	font-style: bold;

}
DIV {
	background: Grey;
	border: 10px;
	padding: 20px;
	border-color: white;
	margin: 10px;
	width: 200px;
	font-family: Times New Roman;
	display: inline-block;

}

IMG{
	height: 150PX;
	width: 150PX;
	padding: 20px;
}
p {
	color: black;
	font-family: Times New Roman;
}
h3 {
	font-family: Times New Roman;
}
a {
	text-decoration: None;
	text-transform: None;
	color: Red;
}
.navigationbar {
	width: 628px;
	background-color: gray;
	height: 40px;
}
.about {
	float: left;
	width: 60px;
	text-align: center;
	height: 40px;
	color: white;
}
.professional {
	float: left;
	width: 60px;
	text-align: center;
	height: 40px;
	color: white;
	}